<div class="bubble_sort_wrapper">
    <div id="bubble_sort" data-sort = "{{ bubble_sort_data['data-sort'] }}" bubblesort_colors = {{ bubble_sort_data['colors'] }}>
        <div class="bubblesort_controls row">
            <div class="col"><a href="/bubblesort" class="btn btn-info" role="button">Shuffle</a></div>
            <div class="col"><button id="bubble_sort_result" type="button" class="btn btn-primary">Step</button></div>
        </div>
        <div id="data_table"></div>
    </div>
</div>